.menu {
  padding: 2rem 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  position: absolute;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  top: -250px;
  z-index: -1;
  transition: top 500ms ease-in-out, background-color 500ms ease-in-out !important;

  &.collapse {
    top: 100%;
  }

  &__item-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 400px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    color: $primary-color;
    width: 90px;
    cursor: pointer;

    &.color--primary:hover {
      color: $color-yellow;
    }
  }

  &__item-icon {
    min-width: 50px;
    min-height: 50px;
  }
}
