.navbar {
  top: 0;
  background-color: $light;
  position: sticky;
  padding: 2em 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  gap: 2rem;
  z-index: 1;

  &__logo {
    cursor: pointer;
  }

  & ul {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  & li {
    cursor: pointer;

    &:hover,
    a:hover {
      color: $color-yellow;
    }
  }

  & a:visited,
  & a:link {
    color: $primary-color;
  }

  &__link {
    display: none;
  }

  &__menu {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}
