.svg__container {
  min-width: 300px;
  width: 100%;
  max-width: 500px;

  & svg {
    width: 100%;
    height: auto;

    & #eyes-open {
      animation: eyesBlink 6s linear infinite;
    }
  }
}

@keyframes eyesBlink {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
