.svg__container {
  min-width: 300px;
  width: 100%;
  max-width: 500px;

  & svg {
    width: 100%;
    height: auto;

    & #eyes-open {
      animation: eyesBlink 6s linear infinite;
    }

    & #blob-s {
      animation: floatingSmall 2s alternate infinite;
    }

    & #blob-xs {
      animation: floatingXSmall 1s alternate-reverse infinite;
    }
  }
}

@keyframes eyesBlink {
  0% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  96% {
    opacity: 0;
  }
  99% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes floatingSmall {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes floatingXSmall {
  from {
    transform: translate(2px, -5px);
  }
  to {
    transform: translate(0px, 0px);
  }
}
