@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300&family=Roboto+Mono:wght@300;400;700&display=swap');
@import 'variables';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open Sans', sans-serif;
  min-width: 360px;
}

a {
  text-decoration: none;
}

a:visited,
a:link {
  color: $primary-color;
}

a.btn {
  color: $light;
}

ul {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 1rem;
}

body:has(.container.theme--light)::-webkit-scrollbar-track {
  background: $light;
}

body:has(.container.theme--dark)::-webkit-scrollbar-track {
  background: $theme-dark;
}

::-webkit-scrollbar-thumb {
  background: $primary-color-dark;
}

::-webkit-scrollbar-thumb:hover {
  background: $primary-color;
}

@mixin transition-ease($ms) {
  transition: all $ms ease-in-out;
}

@mixin bg-color-opacity($color, $opacity) {
  background: $color; // fallback
  background: rgba($color, $opacity);
}

@mixin media-desktop {
  @media screen and (min-width: 720px) {
    @content;
  }
}
