$primary-color: #576cdb;
$primary-color-light: #a8b4f3;
$primary-color-dark: #2b3c8f;

$color-purple: #8153db;
$color-orange: #db896e;
$color-orange-light: #e8ae68;
$color-yellow: #ffcc4f;
$color-yellow-light: #fff042;

$dark: #333333;
$light: #fafafa;

$theme-dark: #33374a;

$typewriter-speed: 4s;
$typewriter-steps: 16;
$blink-speed: 750ms;
