@import 'variables';

.theme--dark {
  .color--primary {
    color: $primary-color-light;
    @include transition-ease(500ms);
  }

  .color--primary-light,
  .hero__desc,
  .hero__icon-container > a,
  .about__desc,
  .about__detail-content > p:last-child,
  .skills__subtitle {
    color: $light;
    @include transition-ease(500ms);
  }

  .navbar,
  .menu,
  .hero,
  .about,
  .skills,
  .projects {
    background-color: $theme-dark;
    @include transition-ease(500ms);
  }

  .header a:visited,
  .header a:link {
    color: $primary-color-light;
  }

  .header li a:hover {
    color: $color-yellow;
    transition: none;
  }

  .menu__item-list {
    li.menu__item {
      transition: none;
    }
  }
}

.theme--light {
  .menu a:visited,
  .menu a:link {
    color: $primary-color;
  }

  .menu__item-list {
    li.menu__item {
      transition: none;
    }
  }

  .navbar,
  .menu,
  .hero,
  .about,
  .skills,
  .projects,
  .color--primary,
  .color--primary-light,
  .hero__desc,
  .about__desc,
  .about__detail-content > p:last-child,
  .skills__subtitle {
    @include transition-ease(500ms);
  }
}
